body{
   background-image: url("electric.jpg");

}

#tokenSection{
    display: none;
}

#deviceSection{
    display: none;
}

label{
    color: azure;
}
.container{
    padding: 20px;    
    background-color:rgba(0, 0, 0, .5);
  
}
input[type="button"]{
    color: aqua;
}
h1 {
    color: #fff;
}
#albumImage{
    width: 300px;
    float: left;
    margin: 20px;
}

#trackTitle{
    font-size:3em;
}

#trackArtist{
    font-size:2em;
}

.welcomeText{
    font-size:2em;
}
